// ADVANTAGES
.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  // margin-bottom: 0;
  background-color: $background-hat-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.advantages__item {
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - #{60px}) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - #{120px}) / 4);
  }
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
}

.advantages__title {
  color: $title-text-color;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-top: 0;
}
.advantages__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $background-icon-color;
  border-radius: 4px;
}
