// CUSTOMERS
.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
  background-color: $background-hat-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title {
  color: $title-text-color;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
}

.customers__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - #{60px}) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - #{90px}) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - #{180px}) / 6);
    margin-bottom: 0;
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid $icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  fill: $icon-color;

  @include transition2(fill, border-color);

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
