.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include transition1(opacity);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-hat-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  visibility: 1;
  @include transition1(visibility);

  @media screen and (max-width: 767px) {
    max-width: 450px;
    width: 100vw;
    max-height: 609px;
    height: 100vh;
  }

  @media screen and (min-width: 768px) {
    width: 450px;

    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;

    height: 581px;
  }
}
.modal__close-button {
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $background-hat-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}
.modal__close-icon {
  fill: $title-text-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include transition1(fill);

  .modal__close-button:hover &,
  .modal__close-button:focus & {
    fill: $accent-color;
  }
}
// MODAL FORM
.form__title {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin-bottom: 12px;
}
.form__label {
  display: flex;
  margin-bottom: 4px;
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}
.form__field {
  position: relative;
  margin-bottom: 10px;
}
.form__input {
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  @include transition1(border-color);

  &:focus {
    outline: none;
    border-color: $accent-color;
  }

  @media screen and (max-width: 1199px) {
    max-width: 370px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 28px;
  fill: rgba(33, 33, 33, 1);
  transition: fill 250ms var(--time-function);
  .form__input:focus + & {
    fill: $accent-color;
  }
}

.form__comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  @include transition1(border-color);

  &:focus {
    outline: none;
    border-color: $accent-color;
  }
  &::placeholder {
    font-family: $secondary-font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  @media screen and (max-width: 1199px) {
    max-width: 370px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;

    &::placeholder {
      font-size: 12px;
      line-height: 1.16;
    }
  }
}

.hidden-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 30px;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    margin-right: 9px;
    cursor: pointer;
    .form__checkbox:checked + & {
      background-image: url(../images/icon-check.svg);
      background-size: cover;
      border: none;
    }

    .form__checkbox:focus + & {
      outline: 1px solid $accent-color;
    }
    @media screen and (max-width: 480px) {
      display: inline-block;
    }
  }

  @media screen and (max-width: 480px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox-link {
  color: $accent-color;
  text-decoration: underline $accent-color;
  font-size: 12px;
  line-height: 1.16;
  margin-left: 0.4em;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__agree-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  min-width: 200px;
  color: $secondary-text-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: center;
}
