$primary-text-color: #757575;
$title-text-color: #212121;
$secondary-text-color: #ffffff;
$accent-color: #2196f3;
$background-hero-color: #2f303a;
$background-hat-color: #ffffff;
$background-team-color: #f5f4fa;
$background-icon-color: #f5f4fa;
$icon-color: rgb(175, 177, 184);
$header-border-color: #cecece;
$portfolio-border-color: #eeeeee;
$portfolio-overlay-color: rgba(33, 150, 243, 0.9);
$logo-color: #000000;
$address-list-color: rgba(255, 255, 255, 0.6);
$footer-sociallink-color: rgba(255, 255, 255, 0.1);
$time-function: cubic-bezier(0.4, 0, 0.2, 1);

$primary-font-family: "Raleway", sans-serif;
$secondary-font-family: "Roboto", sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
